body{
    overflow: hidden;
    font-family: 'Open Sans Pro', sans-serif;
    font-size: 14px;
}

#aside {
    margin: 0;
    padding: 0;
    width: 383px;
    border-right: black 2px solid;
}

#sidebar {
    width: 100%;
}

#main {
}

#floor-menu{
    margin-top: 12px;
}

#floors {
    width: 175px;
    margin: 0;
    list-style: none;
    background-color: rgba(255,255,255, 0.6);
}

#floors-img{
    width: 40px;
    height: 40px;
    padding: 0;
}

#floors div{
    text-align: center;
    padding: 5px;
}

#floors div.active {
    background-color: rgba(50,50,50, 0.2);
}

#floorplan-parts{
}

#floorplan-parts img {
    position:absolute;
    width: 640px;
    bottom: 215px;
    right: 0;
}

#bottom-bar {
    margin: 0;
    padding: 0;
}

#slider{
    vertical-align: bottom;
}

#gang-filler{
    position: absolute;
    bottom: 417px;
    margin-left: 134px;
    background-color: rgba(184,186,185,0);
    width: 120px;
    height: 75px;
}

#keuken-filler{
    position: absolute;
    margin-left: 134px;
    bottom: 352px;
    background-color: rgba(184,186,185,0);
    width: 120px;
    height: 65px;
}

#eetkamer-filler{
    position: absolute;
    margin-left: 254px;
    bottom: 352px;
    background-color: rgba(184,186,185,0);
    width: 140px;
    height: 115px;
}

#bijkeuken-filler{
    position: absolute;
    margin-left: 394px;
    bottom: 352px;
    background-color: rgba(184,186,185,0);
    width: 120px;
    height: 140px;
}

#gang-filler:hover, #keuken-filler:hover, #eetkamer-filler:hover, #bijkeuken-filler:hover{
    background-color: rgba(184,186,185,0.34);
}


/* Slider css */
#sliderthing{
    display: none;
    margin: 7px 0 0 612px
}

.before {
    background-image: url(http://www.younghouselove.com/wp-content/uploads/2016/09/MasterBedroomBeforeStraightAtWindows.jpg);
    width: 650px;
    height: 400px;
    border: 10px solid #31353D;
    margin: 1rem auto;
    position: relative;
    overflow: hidden;
}

.after {
    background-image: url(http://www.younghouselove.com/wp-content/uploads/2013/05/bedroom-after-neutral-bedroom-frame-gallery.jpg);
    height: 400px;
    resize: horizontal;
    position: absolute;
    max-width: 800px;
}
.after:before {
    content: '↔';
    background: rgba(49,53,61,.8);
    font-size: 18px;
    color: white;
    top: 0; right: 0;
    height: 100%;
    line-height: 400px;
    position: absolute;
}

.divider{
    resize: horizontal;
    opacity: 0;
    position: relative;
    top: 50%;
    left: 0;
    margin-right: 0;
    width: 0; height: 15px;
    max-width: 645px; min-width: 15px;
    outline: 0 solid transparent;
    transform: scaley(35);
    transform-origin: center center;
}

